* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 10px;
    background-color: rgb(202, 246, 246);
    position: sticky;
    top: 0;
    cursor: pointer;
    /* background-color: #47a1a9; */
}

.navbar ul {
    float: left;
}

.navbar li {
    display: inline-block;
    list-style: none;
}

.navbar li a {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    padding: 0px 30px;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(161, 157, 157);
    transition: all 0.4s ease 0s;
}

.pimg {
    float: right;
    width: 2px;
    height: 2px;
    margin-right: 5%;
    margin-top: 10px;
}

.pimg #img {
    border: 2px solid #181818;
    border-radius: 30px;

}

.content-items {
    margin-bottom: 400px;
}

.content-items img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
}


.account {
    position: absolute;
    z-index: 1000;
    right: -15px;
    color: white;
    display: none;
    background-color: white;
    margin-right: 1.8%;
    top: 73px;
    margin-top: 0;
    border: 1px solid rgb(149, 145, 145);
    padding: 0px 25px 0px 25px;
    border-radius: 12px;
    display: "block";
    visibility: hidden;
    opacity: 0;
}


.account::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 37%;
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
}

.account.active {
    visibility: visible;
    opacity: 1;
}

#account_div {
    text-align: center;
}


#account_div .account {
    display: block;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

h1 {
    margin: 80px 70px 40px  auto;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #33333b;
    text-align: center;
    height: 70px;
    text-shadow: 0px 2px #4d3f1e99;
}

#inp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
}

input {
    display: none;
}

label {
    font-size: 40px;
    border-radius: 7px;
    height: 65px;
    width: 210px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

#image-preview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    display: none;
}

h2 {
    font-size: 30px
}

#cancel-btn,
#predict-btn {
    font-size: 40px;
    border-radius: 7px;
    height: 55px;
    width: 210px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    background-color: #9cb7b2c2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin: 70px;
    padding: 0px 0px 30px 0px;
    border-radius: 10px;
    text-shadow: 1px;
}

#upload-btn {
    height: 60px;
    width: 230px;
    background-color: #9cb7b2c2;
    color: #160606;
    box-shadow: 0 4px 8px;
}

#dr {
    font-size: 10px;
}

#after-btn {
    text-align: center;
}

.switch {
    background-color: rgb(202, 246, 246);
    padding: 10px;
}

.switch a {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;

    padding: 16px;
    text-decoration: none;
    /* padding: 10px; */
    margin-right: 10px;
    display: inline-block;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

#brainTumorInfo {
    display: flexbox;
}

#alzheimersInfo {
    display: none;
}